<div >
  <img src="./assets/images/hotel1.jpg" class="bg">

<div >
<button routerLink="" class="btn btn-primary btn-lg" >HotelManagementSystem</button>
<button routerLink="/adding" class="btn btn-success" >adding hotel</button>
<button routerLink="/deleting"  class="btn btn-danger" >deleting hotel</button>
<button routerLink="/viewing" class="btn btn-warning">viewing hotel</button>
<button routerLink="/modifing" class="btn btn-info">modifing hotel</button>
<router-outlet></router-outlet>
</div>
</div>
<!-- <div>
    <nav>
        <a routerLink="/adding" >Adding hotel</a>
        <a routerLink="/viewing" >Viewing hotel</a>
        <a routerLink="/modifing" >Modifing hotel</a>
        <a routerLink="/deleting" >Delete hotel</a>
      </nav>
  </div> -->

  <!-- <div class="topnav">

      <a routerLink="/adding">AddingHotel</a>
      <a routerLink="/viewing">ViewingHotel</a>
      <a routerLink="/modifing">ModifingHotel</a>
      <a routerLink="/deleting">DeletingHotel</a>
    </div> -->
