
<div class="container">
<form >
    <div class="form-group">
        <label for="name">HotelId</label>
        <input type="number" class="form-control" id="name" [(ngModel)]="modify.hotelId" placeholder="Enter HotelId"  name="hotelId" required>
      </div>
  <div class="form-group">
    <label for="name">HotelName</label>
    <input type="text" class="form-control" id="name" placeholder="Enter Hotel name" [(ngModel)]="modify.hotelName" name="hotelName" required>
  </div>
  <div class="form-group">
    <label for="address">HotelAddress</label>
    <input type="text" class="form-control" id="address" placeholder="Enter Hotel address" [(ngModel)]="modify.hotelAddress" name="hotelAddress" required>
  </div>
  <div class="form-group">
    <label for="numofrooms">Number Of Rooms</label>
    <input type="number" class="form-control" id="numofrooms" placeholder="Enter number of rooms" [(ngModel)]="modify.numOfRooms" name="numOfRooms" required>
  </div>

  <button type="submit" (click)=onModify() class="btn btn-outline-info">Modify Hotel</button>
</form>
</div>
